{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>مرتضایی | {% block title %}{% endblock %}</title>
    {% include 'head/css.html' %}
</head>
<body>
    {% include 'header.html' %}
    <div class="content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">x</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container-md">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    {% block extra_js %}
    {% endblock %}

    <script>
        // Wait for the DOM to load
        document.addEventListener('DOMContentLoaded', function() {


            // Select all the close buttons
            const closeButtons = document.querySelectorAll('.messages .close');

            // Add a click event listener to each close button
            closeButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent the default link behavior
                    // Find the parent <li> element and hide it
                    const message = button.closest('li');
                    if (message) {
                        message.style.display = 'none'; // Hide the message
                    }
                });
            });
        });
    </script>
</body>
</html>
