{% extends "base.html" %}

{% block title %}کاربران{% endblock %}

{% block content %}

  <h1 class="mt-5 mb-5">لیست کاربران ربات</h1>
  <hr class="mb-3">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>نام</th>
            <th>آیدی</th>
            <th>شماره همراه</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}  {% if user.last_name %}{{ user.last_name }}{% endif %}</td>

                <td>
                  <a href="https://t.me/{{user.username}}" target="_blank">{{ user.username }}@</a>
                </td>

                <td>
                  {% if user.phone_number %}
                    {{user.phone_number}}
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#df1a21" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                    </svg>
                  {% endif %}
                </td>

                <td>
                  <a href=" {% url 'shop:user-detail' user.chat_id %}" class="btn btn-primary">ارسال پیام</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" with page=users %}




{% endblock %}
