{% extends "base.html" %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}
<div class="p-5">
  <div class="p-5 my-3 bg-white shadow-gray-300 shadow-sm relative w-72 sm:w-96 lg:w-96">
      <h1>بازنشانی رمز عبور</h1>
      <p class="text-right text-sm sm:text-lg">لطفا آدرس ایمیل خود را وارد کنید</p>
      <form method="post"  class=" grid grid-cols-1">

        {% csrf_token %}

        <div class="mb-3">
          <label for="id_email">آدرس ایمیل:</label>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
        </div>

        <div class="row g-3">
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">بازنشانی</button>
          </div>
          <div class="col-auto">
            <a href="{% url 'login' %}" class="btn btn-outline-danger">انصراف</a>
          </div>
        </div>


      </form>
    </div>
  </div>
{% endblock %}
