{% extends "base.html" %}

{% block title %}بازنشانی رمز عبور{% endblock %}

{% block content %}
<h1>بازنشانی رمز عبور</h1>
<div class="min-h-screen flex justify-center items-start sm:items-center bg-blue-50">
  <div class="p-5 my-3 bg-white shadow-gray-300 shadow-sm relative w-72 sm:w-96 lg:w-96">
    <p class="text-right text-sm sm:text-lg">یک ایمیل حاوی راهنمایی بازنشانی رمز عبور برای شما ارسال کردیم</p>
    <p>اگر ایمیلی دریافت نکردید، اطمینان حاصل کنید که از آدرس ایمیلی که با آن ثبت نام کردید استفاده کنید</p>
    </div>
  </div>
{% endblock %}
