{% extends "base.html" %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}
<h1>تعیین رمز عبور جدید</h1>
<div class="flex min-h-screen items-start justify-center bg-blue-50 sm:items-center">
  <div class="relative my-3 w-72 bg-white p-5 shadow-sm shadow-gray-300 sm:w-96 lg:w-9/12">
    {% if validlink %}
      <p>برای تعیین رمز عبور خود از فرم زیر استفاده کنید</p>
      <form method="post">
        {% csrf_token %}
        <div>
          <div>
            <span>
              <p>راهنمایی:</p>
              <ul class="text-justify text-sm">
                <li>گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</li>
                <li>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</li>
                <li>گذرواژه شما نمی تواند یک گذرواژه معمول باشد.</li>
                <li>گذرواژه شما نمی تواند کلا عدد باشد</li>
              </ul>
            </span>
          </div>
          <div class="row mb-3">
            <div class="col-auto">
              <input type="password" class="form-control" placeholder="رمز عبور جدید" name="new_password1" required id="id_new_password1" />
            </div>
            <div class="col-auto">
              <input type="password" class="form-control" placeholder="تکرار رمز عبور" name="new_password2" required id="id_new_password2" />
            </div>
          </div>
          <div>

          <div class="row g-3">
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">بازنشانی</button>
            </div>
          </div>

          </div>
        </div>
      </form>
    {% else %}
      <p>لینک شما اشتباه است، احتمالا یکبار از آن استفاده شده و یا مدت زمان آن به پایان رسیده است</p>
    {% endif %}
  </div>
</div>
{% endblock %}

