{% extends "base.html" %}

{% block title %}ویرایش حساب کاربری{% endblock %}

{% block content %}
  <div class="p-5">
    <div class="p-5 my-3 bg-white shadow-gray-300 shadow-sm relative w-72 sm:w-96 lg:w-96">
      <p class="text-right text-sm sm:text-lg">برای ویرایش پروفایل خود از فرم زیر استفاده کنید</p>
      <form method="post"enctype="multipart/form-data">

        {% csrf_token %}
        <div class="mb-3">
          <input type="text" name="first_name" class="form-control" placeholder="نام" id="name-input" maxlength="150">
        </div>
        <div class="mb-3">
          <input type="text" name="last_name" class="form-control" placeholder="نام خانوادگی" id="name-input" maxlength="150">
        </div>
        <div class="mb-3">
          <input type="email" name="email" value="amirthn95@gmail.com" class="form-control" placeholder="ایمیل خود را وارد کنید" id="email-input" maxlength="254">
        </div>

        <div class="row g-3">
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
          </div>
          <div class="col-auto">
            <a href="{% url 'dashboard' %}" class="btn btn-outline-danger">انصراف</a>
          </div>
        </div>


      </form>
    </div>
  </div>

{% endblock %}
